.header{
    background-image: url("../../../image/headerBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}
.title-text{
    margin-top:10%;
    margin-left:10%;
    color:aliceblue
}
.title-text h6{
    font-size: 24px;
    background-color: rgba(78, 84, 90, 0.247);
}
.title-text h1{
    font-size: 90px;
    background-color: rgba(78, 84, 90, 0.247);
}
@media only screen and (max-width: 600px) {
    .title-text{
        margin-top:200px;
        width:80%;
    }
    .title-text h6{
        font-size: 14px;
    }
    .title-text h1{
        font-size: 30px;
    }
    .header{
        height: 400px;
    }
}
 